CONFIG_LOCALVERSION="-consoleos-rc17-productpm5"
# CONFIG_LOCALVERSION_AUTO is not set
CONFIG_DEBUG_KERNEL=y
CONFIG_DEBUG_FS=y
CONFIG_PM_DEBUG=y
CONFIG_PM_SLEEP_DEBUG=y
CONFIG_PM_GENERIC_DOMAINS=y
CONFIG_KALLSYMS=y
# CONFIG_KALLSYMS_ALL is not set
CONFIG_IKCONFIG=y
CONFIG_IKCONFIG_PROC=y
# CONFIG_FTRACE is not set
# CONFIG_KPROBES is not set
# CONFIG_UPROBES is not set
# CONFIG_DYNAMIC_DEBUG is not set
CONFIG_BPF=y
CONFIG_BPF_SYSCALL=y
# CONFIG_BPF_EVENTS is not set
CONFIG_PCIE_QCOM_DRV=y
CONFIG_DRM_SIMPLEDRM=y
CONFIG_FRAMEBUFFER_CONSOLE_DEFERRED_TAKEOVER=y
# CONFIG_LOGO is not set
CONFIG_DEBUG_INFO_NONE=y
CONFIG_EFI_ZBOOT=y
CONFIG_KERNEL_ZSTD=y
# CONFIG_RAID6_PQ_BENCHMARK is not set
CONFIG_SERIAL_AMBA_PL011=y
CONFIG_SERIAL_AMBA_PL011_CONSOLE=y
CONFIG_NVMEM_SPMI_SDAM=y
